<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="api.soldout.io.soldout.mapper.OrderMapper">

  <insert id="insertOrder" parameterType="api.soldout.io.soldout.dtos.entity.OrderDto" useGeneratedKeys = "true" keyProperty="id">
    INSERT INTO `order` (user_id, product_id, size, price, expiration_date, order_type, order_status)
    VALUES (#{userId}, #{productId}, #{size}, #{price}, #{date}, #{type}, #{status});
  </insert>

  <resultMap id="orderMap" type="api.soldout.io.soldout.dtos.entity.OrderDto">
    <result property="id" column="id"></result>
    <result property="userId" column="user_id"></result>
    <result property="productId" column="product_id"></result>
    <result property="size" column="size"></result>
    <result property="price" column="price"></result>
    <result property="date" column="expiration_date"></result>
    <result property="period" column="expiration_period"></result>
    <result property="type" column="order_type"></result>
    <result property="status" column="order_status"></result>
  </resultMap>

  <select id="findByUserId" parameterType="java.lang.String" resultMap="orderMap">
    SELECT *
    FROM `order`
    WHERE user_id = #{userId};
  </select>

  <select id="findByProductId" parameterType="java.lang.String" resultMap="orderMap">
    SELECT *
    FROM `order`
    WHERE product_id = #{productId};
  </select>

  <update id="updateOrderStatus">
    UPDATE `order`
    SET order_status = #{status}
    WHERE id = #{orderId};
  </update>

</mapper>