<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="api.soldout.io.soldout.mapper.ProductMapper">

  <insert id="insertProduct" parameterType="api.soldout.io.soldout.dtos.entity.ProductDto" useGeneratedKeys = "true" keyProperty="id">
    INSERT INTO product (category, name, brand, model_number, release_day, color)
    VALUES (#{category}, #{name}, #{brand}, #{modelNumber}, #{releaseDay}, #{color});
  </insert>

  <insert id="insertImages">
    INSERT INTO image (product_id, link)
    VALUES
    <foreach collection="list" item="imageList" separator=",">
     (#{productId}, #{imageList.link})
    </foreach>
  </insert>

  <!-- 경고문 나옴 -->
  <insert id="insertSizeInfo">
    INSERT INTO sizeInfo (product_id, min, max, unit)
    VALUES (#{productId}, #{sizeInfo.min}, #{sizeInfo.max}, #{sizeInfo.unit});
  </insert>

  <resultMap id="productMap" type="api.soldout.io.soldout.dtos.entity.ProductDto">
    <id property="id" column="product_id"></id>
    <result property="category" column="category"></result>
    <result property="name" column="name"></result>
    <result property="brand" column="brand"></result>
    <result property="modelNumber" column="model_number"></result>
    <result property="releaseDay" column="release_day"></result>
    <result property="color" column="color"></result>
    <association property="sizeInfo" resultMap="sizeInfoMap"></association>
    <collection property="images" column="product_id" resultMap="imagesMap"></collection>
  </resultMap>

  <resultMap id="sizeInfoMap" type="api.soldout.io.soldout.dtos.entity.SizeInfoDto">
    <id property="id" column="sizeInfo_id"></id>
    <result property="productId" column="product_id"></result>
    <result property="min" column="min"></result>
    <result property="max" column="max"></result>
    <result property="unit" column="unit"></result>
  </resultMap>

  <resultMap id="imagesMap" type="api.soldout.io.soldout.dtos.entity.ImageDto">
    <id property="id" column="image_id"></id>
    <result property="productId" column="product_id"></result>
    <result property="link" column="link"></result>
  </resultMap>

  <select id="findAllProducts" resultMap="productMap">
    SELECT *
    FROM product p
    LEFT OUTER JOIN image i ON p.product_id = i.product_id
    LEFT OUTER JOIN sizeInfo s ON p.product_id = s.product_id;
  </select>


</mapper>