<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="api.soldout.io.soldout.mapper.ProductMapper">

  <insert id="save" parameterType="api.soldout.io.soldout.dtos.ProductDto" useGeneratedKeys = "true" keyProperty="product_id">
    INSERT INTO product (
      name, brand, modelName, releaseDay, color
    )
    VALUES (
      #{name}, #{brand}, #{modelName}, #{releaseDay}, #{color}
    );

    INSERT INTO image(
      product_id, link
    )
    VALUES (
      LAST_INSERT_ID(),
      <!-- 해당 부분에서 제대로된 쿼리문을 작성하지 못한 상태 -->
      <foreach collection="list" separator=",">
        #{images}
      </foreach>
    );
  </insert>

  <select id="findAll" resultType="java.util.List">
    SELECT * , image.link
    FROM product
    WHERE product.product_id = image.product_id;
  </select>
</mapper>