<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="api.soldout.io.soldout.mapper.SaleMapper">

  <insert id="insertSale" parameterType="api.soldout.io.soldout.domain.SaleDto" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO sale (user_id, product_id, size, price, expiration_date, sale_type, sale_status)
    VALUES (#{userId}, #{productId}, #{size}, #{price},#{date}, #{type}, #{status});
  </insert>

  <resultMap id="SaleMap" type="api.soldout.io.soldout.domain.SaleDto">
    <id property="id" column="id"></id>
    <result property="userId" column="user_id"></result>
    <result property="productId" column="product_id"></result>
    <result property="size" column="size"></result>
    <result property="price" column="price"></result>
    <result property="date" column="expiration_date"></result>
    <result property="type" column="Sale_type"></result>
    <result property="status" column="sale_status"></result>
  </resultMap>

  <select id="findByUserId" resultMap="SaleMap">
    SELECT *
    FROM sale
    WHERE user_id = #{userId};
  </select>

  <select id="findByProductId" resultMap="SaleMap">
    SELECT *
    FROM sale
    WHERE product_id = #{productId};
  </select>

  <select id="findByProductIdAndSizeAndPriceAndSaleStatus" resultMap="SaleMap">
    SELECT *
    FROM sale
    WHERE product_id = #{productId}
    AND size = #{size}
    AND price = #{price}
    AND sale_status = #{status}
  </select>

  <update id="updateSaleStatus">
    UPDATE sale
    SET sale_status = #{status}
    WHERE id = #{saleId};
  </update>

</mapper>